# Created by venv; see https://docs.python.org/3/library/venv.html
Lib
Scripts
Include
dist
build

*.json
*.db
*.mdb
*.sql
*.spec
*.pem
*.txt
*.zip
*.xml

#output
env
pyvenv.cfg
analysis/

build/
logs/

config.ini

**/fixtures/
**/commands/

__pycache__

