# Created by venv; see https://docs.python.org/3/library/venv.html
Lib
Scripts
Include
dist
build

*.json
*.db
*.sql
*.spec

output
env
pyvenv.cfg
analysis/

config.ini

devices/*/commands/

__pycache__

